html, body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}


.update-form {
    max-width: 500px;
}

.update-form legend {
    margin: 5px 0 5px 0;
}

.update-form fieldset {
    width: 100%;
}

.update-form input {
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 5px 0;
    font-size: 1em;
    max-width: 100%;
    width: 90%;
}
