html, body {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

.logo {
    max-width: 400px;
    width: 100%;
}

.demo-image {
    width:100%;
    max-width:300px;
    margin: 20px;
}

.copy-list {
    font-size: 2em;
}

.update-form {
    max-width: 500px;
}

.update-form legend {
    margin: 5px 0 5px 0;
}

.update-form fieldset {
    width: 100%;
}

.update-form input {
    padding: 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 5px 0;
    font-size: 1em;
    max-width: 100%;
    width: 90%;
}
